@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}
#root {
    height: 100%;
}
html, body {
    height: 100%;
    background-color: black;    
}
.site {
    display: flex;
    flex-direction: column; 
    height: 100%;   
    background-color: black;
    overflow-x: hidden;    
}
h1, h2, h3, p {
    color: #fff;
}
h2 { 
    text-align: center;
    font-family: Playfair Display;
    font-size: 50px;
    padding-bottom: 30px;
}
header {
    flex: 0 0 auto;
    padding-top: 47px;
    padding-bottom: 69px;    
}
.header__wrapper {
    display: flex;
    align-items: center;      
}
.logo__img {
    width: 60px;
    height: 60px;
}
.menu__btn {
    display: none;
}
.nav {    
    margin-left: auto;
}
.nav__items {
    visibility: visible;
    display: flex;
    list-style: none;  
    gap: 55px;  
}
.nav__items a {
    color: white;
    text-decoration: none;
    font-family: Inter;
    font-size: 14px;
    text-transform: uppercase;
}
.nav__items a:hover {
    color: aquamarine;
}
.burger__visible {
    visibility: hidden;
}
main {
    flex: 1 0 auto;               
}
.home__wrapper {
    background-image: url(../utils/images/header__left.png), url(../utils/images/header__right.png);
    background-repeat: no-repeat no-repeat;
    background-size: 350px 350px;
    background-position: left bottom, right top;
    position: relative;
}
.home__text {
    padding-top: 30px;
    font-family: Inter;
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    width: 535px;
}
.creative {
    font-family: Playfair Display;
    font-weight: 700;
    font-size: 209px;   
    margin-left: 65px;            
}
.design {
    font-family: Playfair Display;
    font-weight: 700;
    font-size: 184px; 
    margin-left: 310px; 
    margin-top: -125px; 
    padding-bottom: 100px;       
}
.home__btn {
    padding: 15px;    
    background-color: #fff;
    font-size: 20px;
    font-family: Inter;
    font-weight: bold;
    text-decoration: none;
    color: black;
    cursor: pointer;
    border-radius: 5px; 
    position: relative;  
    left: 550px;
    top: -65px;         
}
.about__wrapper {
    display: flex;
    padding-bottom: 50px;
}
.about__text {
    font-family: Inter;
    font-size: 25px;
    line-height: 33px;
    margin-top: 50px;
    margin-right: 70px;
}
.about__img {
    width: 480px;
    height: 500px;
}
.img__one, .img__two, .img__three,
.img__four, .img__five, .img__six {
    margin: 0 auto;
    text-align: center;
    width: 500px;
    height: 500px;
    padding-bottom: 50px;
}
.testimonials__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.testimonials__text {
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    line-height: 16px;    
    margin: 0 auto;
    padding-bottom: 40px;
}
.reviews__wrapper {
    display: flex;
    justify-content: center;
    gap: 30px;    
}
.review__one {
    display: flex;
    margin-bottom: 20px;
    background-color: #181818;
}
.review__content__one {
    width: 400px;
}
.review__img__one {
    width: 250px;
    height: 250px;
    margin-right: 20px;
}
.review__title__one {
    font-family: Playfair Display;
    font-size: 30px;
    margin-bottom: 25px;
    margin-top: 30px;
}
.review__text__one {
    font-family: Inter;
    font-size: 15px;
    margin-bottom: 25px;
}
.review__two {
    display: flex;
    background-color: #181818;
}
.review__content__two {
    text-align: right;
    width: 400px;
}
.review__title__two {
    font-family: Playfair Display;
    font-size: 30px;
    margin-bottom: 25px;
    margin-top: 30px;
}
.review__text__two {
    font-family: Inter;
    font-size: 15px;
    margin-bottom: 25px;
}
.review__img__two {
    width: 250px;
    height: 250px;
    margin-left: 20px;
}
.review__three {
    display: flex;
    flex-direction: column;
    background-color: #181818;
    width: 250px;    
}
.review__content__three {
    padding-left: 20px;
    padding-right: 20px;
}
.review__img__three {
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
}
.review__title__three {
    font-family: Playfair Display;
    font-size: 25px;
    margin-bottom: 15px;
}
.review__text__three {
    font-family: Inter;
    font-size: 15px;
    margin-bottom: 15px;
}

form {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;    
}
.input__title {
    color: #fff;
    font-family: Inter;
    font-size: 22px;
    text-align: center;
    margin-bottom: 10px;
}
.input, .message {
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    margin: 0 auto;
    width: 500px;
    color: white;
}
.input {
    height: 50px;
    margin-bottom: 25px;    
}
.message {
    height: 130px; 
    margin-bottom: 50px;
}
.form__btn {
    padding: 10px;
    background-color: #fff;
    font-family: Inter;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid black;
    cursor: pointer;
    width: 100px;
    text-align: center;    
}
.form__btn:hover,
.home__btn:hover {
    background-color: transparent;
    transition: 0.3s;
    color: #fff;
    border: 1px solid #fff;
}
.result {
    background-color: rgb(117, 117, 117);
}
.result__btn {
    background-color: transparent;
    border: none;
    font-family: Inter;
    font-size: 18px;
    font-weight: bold;    
    cursor: pointer;    
}
.result__btn:hover {
    color: #fff;
    transition: 0.3s;
}

footer{         
    padding-top: 50px;
    padding-bottom: 20px;
}
.footer__wrapper{
    text-align: center;
}
.footer__title {
    color:#fff;
    padding-bottom: 10px;
    font-family: Inter;
}
.footer__links {
    display: flex;
    align-items: center;    
    justify-content: center;
}
.footer__links button {
    color: #fff;    
    font-family: Inter;
    font-size: 15px;
}
.terms, .policy {
    color:#181818;
    font-family: Inter;
    font-size: 15px;
}
