@media (max-width: 2560px) {    
    .creative {          
        margin-left: 250px;            
    }
    .design {         
        margin-left: 480px;            
    }
    .home__btn {          
        left: 680px;                 
    }
    .about__text {        
        font-size: 30px; 
        line-height: 53px;       
    }
}
@media (max-width: 1550px) {
    .creative {          
        margin-left: 200px;            
    }
    .design {         
        margin-left: 430px;            
    }
    .home__btn {          
        left: 580px;                 
    }
}
@media (max-width: 1480px) {
    .creative {          
        margin-left: 150px;            
    }
    .design {         
        margin-left: 380px;            
    }
    .home__btn {          
        left: 500px;                 
    }
    .about__text {        
        font-size: 25px; 
        line-height: 50px;       
    }
}
@media (max-width: 1280px) {
    .creative {          
        margin-left: 65px;            
    }
    .design {         
        margin-left: 310px;               
    }
    .home__btn {          
        left: 550px;                 
    }
    .about__text {        
        font-size: 25px; 
        line-height: 33px;       
    }
}
@media(max-width: 1100px) {
    .creative {          
        margin-left: 30px;            
    }
    .design {         
        margin-left: 285px;               
    }
    .home__btn {          
        left: 515px;                 
    }
}
@media (max-width: 1024px) {
    .burger__visible {
        visibility: visible;
        position: absolute;
        top: 0;
        right: 0;
      }
    .nav__items {
        visibility: hidden;
      }    
    .bm-item {
        display: inline-block;           
        text-decoration: none;
        margin-bottom: 10px;
        color: #d1d1d1;
        transition: color 0.2s;
      }
    .bm-item:hover {
        color: white;
      }      
    .bm-burger-button {
        position: absolute;
        width: 36px;
        height: 30px;
        right: 60px;
        top: 60px;
    }      
    .bm-burger-bars {
        background: #373a47;
      }
    .bm-cross-button {
        height: 24px;
        width: 24px;
      }
    .bm-cross {
        background: #bdc3c7;
      }
    .bm-menu {
        background: #373a47;
        padding: 2.5em 1.5em 0;
        font-size: 1.15em;
        height: 100%;                
    }
    .bm-morph-shape {
        fill: #373a47;
      }
    .bm-item-list {
        color: #b8b7ad;
      }
    .bm-overlay {
        background: rgba(0, 0, 0, 0.3);
      }
    .menu_item {
        font-family: Inter;
        font-size: 18px;
    }
    .creative {          
        margin-left: 0px; 
        text-align: center; 
        font-size: 180px;          
    }
    .design {         
        margin-left: 0;
        text-align: center;
        font-size: 155px; 
        margin-top: -100px;              
    }
    .home__btn {          
        left: 485px;                 
    }
    .home__text {        
        width: 300px;
    }
    .about__text {
        font-size: 15px;        
    }
    .reviews__wrapper {
        flex-direction: column;   
    } 
    .review__content__one,
    .review__content__two,
    .review__content__three{
        width: 300px;
    }  
    .review__img__two {
        margin-left: auto;
    }  
    .review__three {        
        flex-direction: row;        
        width: 100%;
        height: 250px;    
    }
    .review__content__two {
        margin-left: 100px;
    }
    .review__title__three {
        margin-top: 30px;
        font-size: 30px;        
    }
    .review__img__three {
        margin-right: 20px;
    }    
}
@media (max-width: 840px){
    .creative {        
        font-size: 150px; 
        margin-top: 40px;         
    }
    .design {        
        font-size: 125px;
        margin-top: -20px;                     
    }
    .home__btn {          
        left: 300px;                 
    }
    .about__wrapper {
        padding-top: 30px;
        padding-bottom: 0;
    }
    .about__text {        
        line-height: 28px;
    }
    .about__img {
        width: 400px;
        height: 420px;
    }
    .review__content__one,
    .review__content__two,
    .review__content__three{
        width: 250px;
    } 
    .review__title__one {        
        font-size: 25px;        
        margin-top: 15px;
    }
    .review__title__two,
    .review__title__three {
        font-size: 25px;
    }
    .review__content__one {
        height: 250px;
    }
    .review__content__two {
        margin-left: 40px;
    }
}
@media (max-width: 790px) {
    .about__wrapper {
        flex-direction: column;
        justify-content: center;
        padding-top: 0;
    }
    .about__text {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .about__img{
        margin: 0 auto;
    }
}
@media (max-width: 700px) {
    .home__wrapper {        
        background-size: 250px 250px;        
    }
    .creative {        
        font-size: 120px;                 
    }
    .design {        
        font-size: 105px;
        padding-bottom: 120px;                             
    }
    .testimonials__text {
        line-height: 20px;    
    }
    .review__one,
    .review__two,
    .review__three{
        height: 200px;
    }
    .review__img__one,
    .review__img__two,
    .review__img__three {
        width: 200px;
        height: 200px;    
    }
    .review__title__one,
    .review__title__two,
    .review__title__three {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 20px;
    }
    .review__content__two {
        margin-right: 30px;        
    }
    .review__text__one,
    .review__text__two,
    .review__text__three {
        font-size: 13px;
    }
    .input__title {        
        font-size: 25px;        
    }
    .input, .message {       
        width: 100%;       
    }
    .form__btn {
        padding: 25px;        
        font-size: 30px;       
        width: 150px;            
    }
}
@media (max-width: 560px) {
    h2 {
        font-size: 45px;
    }
    .home__wrapper {        
        background-size: 225px 225px;        
    }
    .creative {        
        font-size: 90px;                 
    }
    .design {        
        font-size: 80px;
        padding-bottom: 180px;                             
    }
    .home__btn {          
        left: 200px; 
        top: -110px;                
    }
    .about__img {
        width: 300px;
        height: 320px;
    }
    .reviews__wrapper{
        justify-content: center;
    }
    .review__one,
    .review__two,
    .review__three{
        flex-direction: column;
        height: 420px;
        width: 250px;
        margin: 0 auto;
    }
    .review__img__one,
    .review__img__two,
    .review__img__three {
        width: 250px;
        height: 250px;    
    }
    .review__one,
    .review__two {
        margin-bottom: 30px;
    } 
    .review__three {
        margin-top: -20px;
    }   
    .review__content__one,
    .review__content__two,
    .review__content__three{
        text-align: center;
        width: 220px;
        margin: 0 auto;
    } 
    .review__img__three { 
        margin-bottom: 0;
    }
}
@media (max-width: 400px) {
    .creative {        
        font-size: 70px;
        margin: 0 auto;
        width: 100%;                 
    }
    .design {        
        font-size: 60px;
        padding-bottom: -180px; 
        margin: 0 auto;
        width: 100%;                            
    }
    .home__text {        
        padding-bottom: 30px;
    }
    .home__btn {          
        left: 120px;                 
    }
    .about__img {
        width: 200px;
        height: 220px;
    }    
}